.page-header
  %h2= t('.title')
%br
-if current_user
  .btn-group.btn-group-justified
    -if current_user.use_events?
      .btn.btn-default
        = link_to(events_path, 'data-turbolinks' => false) do
          %center
            =icon('calendar', class: 'fa-5x')
            %p= t('events.index.title')
    -if current_user.use_notes?
      .btn.btn-default
        = link_to(notes_path) do
          %center
            =icon('file-text', class: 'fa-5x')
            %p= t('notes.index.title')
    -if current_user.use_mail?
      .btn.btn-default
        = link_to(mailbox_path) do
          %center
            =icon('envelope', class: 'fa-5x')
            %p= t('mailbox.index.title')
  .btn-group.btn-group-justified
    -if current_user.use_user_directory?
      .btn.btn-default
        = link_to(users_path) do
          %center
            =icon('users', class: 'fa-5x')
            %p= t('users.index.title')
    -if current_user.use_links?
      .btn.btn-default
        = link_to(links_path) do
          %center
            =icon('link', class: 'fa-5x')
            %p= t('links.index.title')
    -if current_user.use_locations?
      .btn.btn-default
        = link_to(locations_path) do
          %center
            =icon('globe', class: 'fa-5x')
            %p= t('locations.index.title')
  .btn-group.btn-group-justified
    -if current_user.use_mastery_builder?
      .btn.btn-default
        = link_to(abilities_path) do
          %center
            =icon('cube', class: 'fa-5x')
            %p= t('abilities.index.title')
      .btn.btn-default
        = link_to(abilitysets_path) do
          %center
            =icon('cubes', class: 'fa-5x')
            %p= t('abilitysets.index.title')
      .btn.btn-default
        = link_to(masteries_path) do
          %center
            =icon('university', class: 'fa-5x')
            %p= t('masteries.index.title')
  .btn-group.btn-group-justified
    -if current_user.admin?
      .btn.btn-default
        = link_to(domains_path) do
          %center
            =icon('circle-o', class: 'fa-5x')
            %p= t('domains.index.title')
      .btn.btn-default
        = link_to(roles_path) do
          %center
            =icon('id-badge', class: 'fa-5x')
            %p= t('roles.index.title')
    -if current_user.use_forms?
      .btn.btn-default
        = link_to(forms_path) do
          %center
            =icon('wpforms', class: 'fa-5x')
            %p= t('forms.index.title')
  .btn-group.btn-group-justified
    -if current_user.has_mastery?
      .btn.btn-default
        = link_to(mastery_user_path(current_user)) do
          %center
            =icon('graduation-cap', class: 'fa-5x')
            %p= t('users.mastery.title')
