= form_with(model: note, local: true) do |form|
  - if note.errors.any?
    #error_explanation
      %ul
        - note.errors.full_messages.each do |message|
          %li= message
  .actions
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = link_to icon('arrow-left'), notes_path, class: 'btn btn-default'
        .pull-right= form.button icon('save').html_safe, class: 'btn btn-default'
    %br
  .panel-footer
    .form-group
      = form.label :title
      = form.text_field :title, id: :note_title, class: 'form-control'
    .form-group
      = form.trix_editor :body, id: :note_body
    .field
      -if note.user_id.to_i == 0 || note.new_record?
        = form.hidden_field :user_id, id: :note_user_id, value: current_user.id
