.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_note_path, class: 'btn btn-default'
%br
- @notes.each_slice(2) do |note2|
  .row
    - note2.each do |note|
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        .panel.panel-default
          .panel-heading
            .panel-title-ellipse= note.title
            %br
            = trash_button(note)
            .pull-right
              .btn-group
                = link_to icon('eye'), note, class: 'btn btn-default'
                = link_to icon('edit'), edit_note_path(note), class: 'btn btn-default'
          .panel-body
            .note-body= note.body.html_safe
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @notes
%br/

