.page-header
  %h2= @note.title
  = content_for :title, t('nightingale') + ' | ' + @note.title
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), notes_path, class: 'btn btn-default'
    .pull-right= link_to icon('edit'), edit_note_path(@note), class: 'btn btn-default'
%br
.panel.panel-footer
  = @note.body.html_safe

