.page-header
  %h2= t('.title')
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .actions
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        - ref = request.headers["HTTP_REFERER"]
        .btn-group
          -if ref && ref.include?('users')
            = link_to icon('arrow-left'), ref, class: 'btn btn-default'
          -else
            = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
        .pull-right= f.button icon('save'), class: 'btn btn-default'
    %br
  .form-group
    = f.label :prefix
    %br/
    = f.text_field :prefix, class: 'form-control'
  .form-group
    = f.label :first_name
    %br/
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :middle_name
    %br/
    = f.text_field :middle_name, class: 'form-control'
  .form-group
    = f.label :last_name
    %br/
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :suffix
    %br/
    = f.text_field :suffix, class: 'form-control'
  .form-group
    = f.label :language
    %br/
    = f.select :language, options_for_select(locale_name_pairs, current_user.language), {}, {class: 'form-control'}
  .form-group
    = f.label :timezone
    %br/
    = f.time_zone_select :timezone, ActiveSupport::TimeZone.all, {}, {:class => 'form-control'}
  .form-group
    = f.label :birthdate
    = f.date_select :birthdate
  -if current_user.student?
    .form-group
      = f.label :level
      %br/
      = f.number_field :level, disabled: 'disabled', class: 'form-control'
  .form-group
    = f.label :extid
    = f.text_field :extid, disabled: 'disabled', class: 'form-control'
  .form-group
    = f.label :avatar
    .input-group
      %span.input-group-btn
        %span.btn.btn-default{:onclick => "$(this).parent().find('input[type=file]').click();"}
          = icon('file-image-o')
        = f.file_field :avatars, multiple: true, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;"
        = f.hidden_field :avatars_cache
      %span.form-control
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %p
      = t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)
  .form-group
    = f.label :password
    %i
      (#{t('.leave_blank_if_you_don_t_want_to_change_it')})
    %br/
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.label :current_password
    %i
      (#{t('.we_need_your_current_password_to_confirm_your_changes')})
    %br/
    = f.password_field :current_password, class: 'form-control'
  -#%div= f.submit t('.update'), class: 'btn btn-block btn-primary'
-#%h3= t('.cancel_my_account')
-#%p
  = t('.unhappy')
  = link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-block btn-danger'
  \
-#= link_to t('devise.shared.links.back'), :back, class: 'btn btn-block btn-primary'
