%h2= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    = f.label :prefix
    %br/
    = f.text_field :prefix, class: 'form-control'
  .form-group
    = f.label :first_name
    %br/
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :middle_name
    %br/
    = f.text_field :middle_name, class: 'form-control'
  .form-group
    = f.label :last_name
    %br/
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :suffix
    %br/
    = f.text_field :suffix, class: 'form-control'
  .form-group
    = f.label :language
    %br/
    = f.select :language, options_for_select(locale_name_pairs, I18n.locale), {}, {class: 'form-control'}
  .form-group
    = f.label :timezone
    %br/
    = f.time_zone_select :timezone, ActiveSupport::TimeZone.all, {}, {:class => 'form-control'}
  .form-group
    = f.label :birthdate
    = f.date_select :birthdate
  .form-group
    = f.label :avatar
    .input-group
      %span.input-group-btn
        %span.btn.btn-default{:onclick => "$(this).parent().find('input[type=file]').click();"}
          = icon('file-image-o')
        = f.file_field :avatars, multiple: true, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;"
        = f.hidden_field :avatars_cache
      %span.form-control
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  .actions
    = f.submit t('.sign_up'), class: 'btn btn-block btn-primary'
= render "devise/shared/links"
