.panel.panel-default
  .panel-heading.clearfix
    - if conversation.is_trashed?(current_user)
      = link_to icon('undo'), untrash_conversation_path(conversation), class: 'btn btn-default', method: :post
    - else
      = link_to icon('trash'), trash_conversation_path(conversation), class: 'btn btn-default', method: :post, |
      data: {confirm: t('devise.registrations.edit.are_you_sure')} |
    .pull-right= link_to icon('eye'), conversation_path(conversation), class: 'btn btn-default'
  .panel-body
    .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-4
        %center
          .widewrapper= link_to image_tag(avatar_thumb(conversation.originator)), conversation_path(conversation)
      .col-lg-10.col-md-10.col-sm-10.col-xs-8
        %b= conversation.originator.identifier
        %br
        = t('conversations.model.subject')
        = conversation.subject.html_safe
        %br
        = t('conversations.model.date')
        =l conversation.messages.last.created_at, format: :long
