= link_to icon('arrow-left'), mailbox_path, class: 'btn btn-default'
%br
%br
.panel
  = form_for :conversation, url: :conversations, html: { class: "" } do |f|
    .panel-heading.clearfix
      .action
        .pull-right= f.button icon('paper-plane'), class: "btn btn-default"
    .panel-footer
      .form-group
        %label= t('conversations.model.recipients')
        =#= f.select(:recipients, options_from_collection_for_select(User.all, 'id', 'identifier'), {}, { multiple: true , class: "form-control" })
        = select_tag 'conversation[recipients][]', options_for_select(User.where.not(id: current_user.id).map {|s| [s.identifier, s.id]}, params[:recipients]), :multiple => true, class: "form-control"
      .form-group
        %label= t('conversations.model.subject')
        = f.text_field :subject, class: "form-control"
      .form-group
        = f.hidden_field :body, id: :message_body
        %trix-editor{:input => "message_body"}

:javascript
  $( "#conversation_recipients_" ).select2({
  theme: "bootstrap",
  language: "#{current_user.language}"
  });
