.page-header
  %h2= @receipts.first.message.subject.html_safe
  = content_for :title,  t('nightingale') + ' | ' + @receipts.first.message.subject.html_safe
= render 'mailbox/folders'
%br
= link_to icon('arrow-left'), mailbox_path, class: 'btn btn-default'
%br
%br
= form_for :message, url: reply_conversation_path(conversation) do |f|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              - if conversation.is_trashed?(current_user)
                = link_to icon('undo'), untrash_conversation_path(conversation), class: 'btn btn-default', method: :post
              - else
                = link_to icon('trash'), trash_conversation_path(conversation), class: 'btn btn-default', method: :post, |
                  data: {confirm: t('devise.registrations.edit.are_you_sure')} |
              .pull-right= f.button icon('reply'), class: 'btn btn-default'


        .panel-footer
          .form-group
            = f.hidden_field :body, id: :message_body
            %trix-editor{:input => "message_body"}
          .clearfix
        .panel-body
          - @receipts.each do |receipt|
            - message = receipt.message
            .media
              .media-body
                .row
                  .col-lg-2.col-md-2.col-sm-2.col-xs-4
                    %center
                      .widewrapper= image_tag(avatar_thumb(message.sender))
                  .col-lg-10.col-md-10.col-sm-10.col-xs-8
                    %h4.media-heading
                      = message.sender.name
                      %br/
                      %small
                        = t('conversations.model.date')
                        =l message.created_at, format: :long
                    = message.body.html_safe

