= form_for @user, :html => { :multipart => true } do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .actions
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = link_to icon('arrow-left'), users_path, class: 'btn btn-default'
        .pull-right= f.button icon('save').html_safe, class: 'btn btn-default'
    %br
  .form-group
    = f.label :prefix
    %br/
    = f.text_field :prefix, class: 'form-control'
  .form-group
    = f.label :first_name
    %br/
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :middle_name
    %br/
    = f.text_field :middle_name, class: 'form-control'
  .form-group
    = f.label :last_name
    %br/
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :suffix
    %br/
    = f.text_field :suffix, class: 'form-control'
  .form-group
    = f.label :language
    %br/
    = f.select :language, options_for_select(locale_name_pairs, (@user.new_record? ? current_user.domain.language.to_s : @user.language.to_s)), {}, {class: 'form-control'}
  .form-group
    = f.label :timezone
    %br/
    = f.collection_select :timezone, ActiveSupport::TimeZone.all, :name, :to_s, { selected: (@user.new_record? ? current_user.domain.timezone.to_s : @user.timezone.to_s) }, class: 'form-control'
  .form-group
    = f.label :birthdate
    = f.date_select :birthdate
  .form-group
    = f.label :level
    %br/
    = f.number_field :level, class: 'form-control', value: (@user.new_record? ? current_user.domain.student_starting_level.to_i : @user.level)
  .form-group
    = f.label :extid
    = f.text_field :extid, class: 'form-control'
  -if @user.id != current_user.id
    .form-group
      = f.label :account_type
      = f.select :account_type, [[t('student'), 'student'],[t('preceptor'), 'preceptor'],[t('faculty'), 'faculty'],[t('administrator'), 'administrator']], |
      {:selected => @user.account_type}, {:class => 'form-control'}
  -if current_user.superuser?
    .form-group
      = f.label :domain
      = f.select :domain_id, options_from_collection_for_select(Domain.all, :id, :identifier), {}, class: 'form-control'
  -elsif @user.domain_id.to_i == 0 || @user.new_record?
    .field
      = f.hidden_field :domain_id, value: current_user.domain_id
  .form-group
    = f.label :role
    %br/
    = f.select :role_id, options_from_collection_for_select(Role.domained(current_user), :id, :identifier, @user.role_id), {}, class: 'form-control'
  .form-group
    = f.label :avatar
    .input-group
      %span.input-group-btn
        %span.btn.btn-default{:onclick => "$(this).parent().find('input[type=file]').click();"}
          = icon('file-image-o')
        = f.file_field :avatars, multiple: true, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;"
        = f.hidden_field :avatars_cache
      %span.form-control
  .form-group
    = f.label :mastery
    %br/
    = f.select :mastery_id, options_from_collection_for_select(Mastery.domained(current_user), :id, :identifier, @user.mastery_id), {}, class: 'form-control'
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, class: 'form-control'
    = @user.current_password
%br
