.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    - ref = request.headers["HTTP_REFERER"]
    - if ref && ref.include?('users/')
      - back = session[:user_back]
    - elsif ref
      - session[:user_back] = ref
      - back = session[:user_back]
    -else
      - back = users_path
    .btn-group
      = link_to icon('arrow-left'), back, class: 'btn btn-default'
      = link_to icon('address-book'), contacts_user_path, class: 'btn btn-default active'
      = link_to icon('graduation-cap'), mastery_user_path, class: 'btn btn-default' if @user.has_mastery?
      = link_to icon('eye'), user_path, class: 'btn btn-default'
    -if current_user.admin? && @user.id != current_user.id
      .pull-right= link_to icon('edit'), edit_user_path(@user), class: 'btn btn-default'
    -elsif @user.id == current_user.id
      .pull-right= link_to icon('edit'), edit_user_registration_path, class: 'btn btn-default'
%br
.form-group
  %center
    %p= @user.identifier
%br
-if current_user.use_mail? && @user.use_mail?
  .row
    .col-lg-12
      =link_to(new_conversation_path(recipients: @user.id), class: 'btn btn-block btn-default') do
        =icon('envelope')
        &nbsp;
        = @user.identifier
      %br
- @user.contacts.each do |contact|
  .row
    .col-lg-12
      =contact.to_button
      %br
