.page-header
  %h2= t('.title')

= form_tag(users_path, :method => "get", id: "search-form") do
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .input-group
        %span.input-group-btn
          = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
        = text_field_tag :search, params[:search], placeholder: t('.search'), class: 'form-control'
        %span.input-group-btn
          = button_tag icon('search'), class: 'btn btn-default'
          = link_to icon('plus'), new_user_path, class: 'btn btn-default' if current_user.admin?
%br
-if params[:search] && @users.count == 0
  .well
    %center
      = t('.no_found')
-else
  -@users.each_slice(2) do |users|
    .row
      -users.each do |user|
        .col-lg-6.col-md-12.col-sm-12.col-xs-12
          .panel.panel-default
            .panel-heading
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .panel-title-ellipse= user.identifier
              %br
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  - if current_user.superuser?
                    =trash_button(user)
                  .pull-right
                    .btn-group
                      -if user.id != current_user.id && current_user.admin?
                        -if user.active
                          = link_to(icon('dot-circle-o'), deactivate_user_path(user), :method => :put, :confirm => t('devise.registrations.edit.are_you_sure'), class: 'btn btn-default')
                        -else
                          = link_to(icon('circle-o'), activate_user_path(user), :method => :put, :confirm => t('devise.registrations.edit.are_you_sure'), class: 'btn btn-default')
                      = link_to icon('address-book'), contacts_user_path(user), class: 'btn btn-default'
                      = link_to icon('graduation-cap'), mastery_user_path(user), class: 'btn btn-default' if user.has_mastery?
                      = link_to icon('eye'), user, class: "btn btn-default"
                      - if current_user.admin?
                        = link_to icon('edit'), edit_user_path(user), class: 'btn btn-default'


            .panel-body
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  %center
                    .form-group
                      .widewrapper= link_to image_tag(avatar_thumb(user)), user


.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @users
