.page-header
  %h2= t('.title')

= form_tag update_mastery_user_path, method: :put do
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      - ref = request.headers["HTTP_REFERER"]
      - if ref && ref.include?('users/')
        - back = session[:user_back]
      - elsif ref
        - session[:user_back] = ref
        - back = session[:user_back]
      -else
        - back = users_path
      .btn-group
        = link_to icon('arrow-left'), back, class: 'btn btn-default'
        = link_to icon('address-book'), contacts_user_path, class: 'btn btn-default'
        = link_to icon('graduation-cap'), mastery_user_path, class: 'btn btn-default active'
        = link_to icon('eye'), user_path, class: 'btn btn-default'
      .pull-right
        -if (current_user.mastery_rank_up? && current_user.id != @user.id)
          = button_tag(type: 'submit', class: "btn btn-default") do
            = icon('level-up')
  %br
  .form-group
    %center
      %p= @user.identifier
  %br
  .form-group
    -@knows.each do |know|
      .panel.panel-default
        .panel-heading
          = know.ability.identifier
          .pull-right= check_box_tag "know_ids[]", know.id if (current_user.mastery_rank_up? && current_user.id != @user.id)
        .panel-body
          .progress
            .progress-bar.progress-bar-striped{class: "#{know.bar}", "aria-valuemax" => "#{know.maxvalue}", |
            "aria-valuemin" => "0", "aria-valuenow" => "#{know.value}",   |
            :role => "progressbar",                                             |
            :style => "width: #{know.width}%; min-width: 2em;"}
              %span= know.bartext
