.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    - ref = request.headers["HTTP_REFERER"]
    - if ref && ref.include?('users/')
      - back = session[:user_back]
    - elsif ref
      - session[:user_back] = ref
      - back = session[:user_back]
    -else
      - back = users_path
    .btn-group
      = link_to icon('arrow-left'), back, class: 'btn btn-default'
      = link_to icon('address-book'), contacts_user_path, class: 'btn btn-default'
      = link_to icon('graduation-cap'), mastery_user_path, class: 'btn btn-default' if @user.has_mastery?
      = link_to icon('eye'), user_path, class: 'btn btn-default active'
    -if current_user.admin?
      .pull-right= link_to icon('edit'), edit_user_path(@user), class: 'btn btn-default'
    -elsif @user.id == current_user.id
      .pull-right= link_to icon('edit'), edit_user_registration_path, class: 'btn btn-default'
%br
.form-group
  %center
    .widewrapper= image_tag avatar(@user)
    %br
    %p= @user.identifier
-if current_user.admin? || @user.id == current_user.id
  .form-group
    %label= User.human_attribute_name :prefix
    .form-control.wrapped= @user.prefix
  .form-group
    %label= User.human_attribute_name :first_name
    .form-control.wrapped= @user.first_name
  .form-group
    %label= User.human_attribute_name :middle_name
    .form-control.wrapped= @user.middle_name
  .form-group
    %label= User.human_attribute_name :last_name
    .form-control.wrapped= @user.last_name
  .form-group
    %label= User.human_attribute_name :suffix
    .form-control.wrapped= @user.suffix
.form-group
  %label= User.human_attribute_name :language
  .form-control.wrapped= code2language(@user.language)
.form-group
  %label= User.human_attribute_name :timezone
  .form-control.wrapped= t('timezones' + '.' + @user.timezone)
-if current_user.has_power? || @user.id == current_user.id
  .form-group
    %label= User.human_attribute_name :birthdate
    .form-control.wrapped= l @user.birthdate unless @user.birthdate.nil?
-if @user.student? || current_user.has_power?
  .form-group
    %label= User.human_attribute_name :level
    .form-control.wrapped= @user.level
-if current_user.has_power? || @user.id == current_user.id
  .form-group
    %label= User.human_attribute_name :extid
    .form-control.wrapped= @user.extid
.form-group
  %label= User.human_attribute_name :account_type
  .form-control.wrapped= @user.account
.form-group
  %label= User.human_attribute_name :role
  .form-control.wrapped= @user.role.identifier if @user.role
-if @user.student?
  .form-group
    %label= User.human_attribute_name :mastery
    .form-control.wrapped= @user.mastery.title unless @user.mastery.nil?
.form-group
  %label= User.human_attribute_name :email
  .form-control.wrapped= @user.email
