%h2= t('.change_your_password')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .form-group
    = f.label :password, t('.new_password')
    %br/
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :password_confirmation, t('.confirm_new_password')
    %br/
    = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  .actions
    = f.submit t('.change_my_password'), class: 'btn btn-block btn-primary'
= render "devise/shared/links"
