%h2= t('.forgot_your_password')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: 'form-control'
  .actions
    = f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-block btn-primary'
= render "devise/shared/links"
