= render 'mailbox/folders'
%br
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    - if is_conversation
      = render 'conversations/form'
    - else
      .well
        - if !messages.empty?
          = render partial: 'conversations/conversation', collection: messages
        -else
          = t('.no_messages')
-if !is_conversation && !messages.empty?
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      = paginate messages
