.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .btn-group
      = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
      =link_to(mailbox_inbox_path, class: "btn btn-default#{active_page(:inbox)}") do
        = icon('inbox', class: 'fa-lg')
        .badge= current_user.unread_inbox_count
      =link_to icon('paper-plane'), mailbox_sent_path, class: "btn btn-default#{active_page(:sent)}"
      =link_to icon('trash'), mailbox_trash_path, class: "btn btn-default#{active_page(:trash)}"
    .pull-right
      = link_to icon('plus'), new_conversation_path, class: 'btn btn-default'
