.page-header
  %h2
    = t('.title')
    .pull-right
      = link_to t('.empty'), empty_trash_conversations_path, class: 'btn btn-default', method: :delete, |
      data: {confirm: t('.message')}
= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @trash }
