.panel.panel-default
  /{:class => "panel-{within(event)}"}
  .panel-heading.clearfix
    = trash_button(event) if current_user.events_create_edit?
    .pull-right
      .btn-group
        /-if current_user.id == event.overseer.id && event.domain.overseer_agreement_form && event.overseer_agreement.nil? && event.domain.overseer_agreement_form_fill != "no"
        /  = link_to icon('shield'), new_form_submission_path(event.domain.overseer_agreement_form, overseer_agreement: event.id), class: 'btn btn-default'
        /-if current_user.id == event.overseer.id && event.domain.overseer_form && event.login && event.student_evaluation.nil? && event.domain.overseer_form_fill != "no"
        /  = link_to icon('wpforms'), new_form_submission_path(event.domain.overseer_form, overseer_form: event.id), class: 'btn btn-default'
        /-if current_user.id == event.student.id && event.domain.student_form && event.login && event.overseer_evaluation.nil? && event.domain.student_form_fill != "no"
        /  = link_to icon('wpforms'), new_form_submission_path(event.domain.student_form, student_form: event.id), class: 'btn btn-default'
        /-if current_user.id == event.overseer.id
        /  = link_to icon('address-book'), contacts_user_path(event.student), class: 'btn btn-default'
        /-if current_user.id == event.student.id
        /  = link_to icon('address-book'), contacts_user_path(event.overseer), class: 'btn btn-default'
        = link_to icon('graduation-cap'), mastery_user_path(current_user), class: 'btn btn-default' if (current_user.has_mastery? && event.part_of?(current_user))
        = link_to icon('location-arrow'), event.location.navigate, target: :_blank, class: 'btn btn-default'
        = link_to icon('users'), participants_events_path(event), class: 'btn btn-default'
        = link_to icon('eye'), event, class: 'btn btn-default'
        = link_to icon('edit'), edit_event_path(event), class: 'btn btn-default' if current_user.events_create_edit?
  .panel-body
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        %center
          %label= Event.human_attribute_name :start
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        %center
          %label= Event.human_attribute_name :stop
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        %center
          = l event.start, format: :long
        %br
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        %center
          = l event.stop, format: :long
        %br
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %center
          %label= Event.human_attribute_name :location
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %center
          = link_to event.location.identifier, event.location.navigate, target: :_blank
        %br



    /%center
    /  %label= Event.human_attribute_name :student
    /.col-lg-6.col-md-6.col-sm-6.col-xs-6
    /%center
    /  %label= Event.human_attribute_name :overseer
    /.row
    /  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    /    %center
    /      /= link_to event.student.identifier, event.student
    /      %br
    /      /.widewrapper= link_to image_tag(avatar_thumb(event.student)), event.student
    /      %br
    /  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    /    %center
    /      /= link_to event.overseer.identifier, event.overseer
    /      %br
    /      /.widewrapper= link_to image_tag(avatar_thumb(event.overseer)), event.overseer
    /      %br
    /.row
    /  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    /    %center
    /      /- if event.login
    /      /  %label= Event.human_attribute_name :login
    /      /  %br
    /      /  = l event.login.in_time_zone(current_user.timezone), format: :long
    /      /- else
    /      /  = link_to icon('sign-in'), login_events_path(event), class: 'btn btn-default'
    /  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    /    %center
    /      /- if event.logout
    /      /  %label= Event.human_attribute_name :logout
    /      /  %br
    /      /  = l event.logout.in_time_zone(current_user.timezone), format: :long
    /      /- else
    /      /  = link_to icon('sign-out'), logout_events_path(event), class: 'btn btn-default'

    /.row
    /  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    /    %center
    /      /- if event.student_evaluation && (current_user.has_power? || event.overseer_id == current_user.id)
    /      /  %label= Event.human_attribute_name :student_evaluation
    /  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    /    %center
    /      /- if event.overseer_agreement && (current_user.has_power? || event.overseer_id == current_user.id)
    /      /  %label= Event.human_attribute_name :overseer_agreement
    /  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    /    %center
    /      /- if event.overseer_evaluation && (current_user.has_power? || event.student_id == current_user.id)
    /      /  %label= Event.human_attribute_name :overseer_evaluation
    /.row
    /  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    /    %center
    /      /= link_to icon('wpforms'), form_submission_path(event.student_evaluation.form, event.student_evaluation), class: 'btn btn-default btn-block' if event.student_evaluation && (current_user.has_power? || event.overseer_id == current_user.id)
    /  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    /    %center
    /      /= link_to icon('shield'), form_submission_path(event.overseer_agreement.form, event.overseer_agreement), class: 'btn btn-default btn-block' if event.overseer_agreement && (current_user.has_power? || event.overseer_id == current_user.id)
    /  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    /    %center
    /      /= link_to icon('wpforms'), form_submission_path(event.overseer_evaluation.form, event.overseer_evaluation), class: 'btn btn-default btn-block' if event.overseer_evaluation && (current_user.has_power? || event.student_id == current_user.id)
    /-if !event.login && event.start > Time.zone.now
    /  .row
    /    .col-lg-12.col-md-12.col-sm-12.col-xs-12
    /      %br
    /      %center.clearfix{id: "count#{event.id}"}
    /        :javascript
    /          $.countdown.setDefaults($.countdown.regionalOptions["#{t('js.countdown')}"]);
    /          jQuery(document).on('turbolinks:load', function() { $(function ()
    /          { $("#count#{event.id}").countdown({until: $.countdown.UTCDate(
    /          #{Time.zone.now.utc_offset/60},
    /          #{event.start.year},
    /          #{event.start.month-1},
    /          #{event.start.day},
    /          #{event.start.hour},
    /          #{event.start.min},
    /          #{event.start.sec}, 0), expiryUrl: "#{request.original_url}"}); }); });
    /-elsif event.login && !event.logout && event.stop > Time.zone.now
    /  .row
    /    .col-lg-12.col-md-12.col-sm-12.col-xs-12
    /      %br
    /      %center.clearfix{id: "count#{event.id}"}
    /        :javascript
    /          $.countdown.setDefaults($.countdown.regionalOptions["#{t('js.countdown')}"]);
    /          jQuery(document).on('turbolinks:load', function() { $(function ()
    /          { $("#count#{event.id}").countdown({until: $.countdown.UTCDate(
    /          #{Time.zone.now.utc_offset/60},
    /          #{event.stop.year},
    /          #{event.stop.month-1},
    /          #{event.stop.day},
    /          #{event.stop.hour},
    /          #{event.stop.min},
    /          #{event.stop.sec}, 0), expiryUrl: "#{request.original_url}"}); }); });
