= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .actions
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = link_to icon('arrow-left'), events_path, class: 'btn btn-default', 'data-turbolinks' => false
        .pull-right= f.button icon('save').html_safe, class: 'btn btn-default'
    %br
  .form-group
    = f.label :location
    = f.select :location_id, options_from_collection_for_select(Location.domained(current_user), :id, :identifier, @event.location_id), {}, class: 'form-control select'
  .form-group
    = f.label :abilityset
    = f.select :abilityset_id, options_from_collection_for_select(Abilityset.domained(current_user), :id, :identifier, @event.abilityset_id), {}, class: 'form-control select'
  .form-group
    = f.label :start
    = f.datetime_select :start
  .form-group
    = f.label :stop
    = f.datetime_select :stop
  .field
    -if @event.user_id.to_i == 0 || @event.new_record?
      = f.hidden_field :user_id, value: current_user.id
  .field
    -if @event.domain_id.to_i == 0 || @event.new_record?
      = f.hidden_field :domain_id, value: current_user.domain_id
    .form-group
      #participants
        = f.fields_for :participants do |builder|
          = render 'participant_fields', f: builder
        .pull-right= link_to_add_association icon('user-plus'), f, :participants, class: 'btn btn-default'

:javascript
  $( ".location" ).select2({
  theme: "bootstrap",
  language: "#{current_user.language}"
  });
  $( ".abilityset" ).select2({
  theme: "bootstrap",
  language: "#{current_user.language}"
  });
  var load_datetime = (function () {$(".datetime").datetimepicker({locale: "#{t('js.datetimepicker')}",
  icons: { time: 'fa fa-clock-o', date: 'fa fa-calendar', up: 'fa fa-arrow-up', down: 'fa fa-arrow-down'}});})
  var load_user =   (function () {$( ".select" ).select2({
  theme: "bootstrap",
  language: "#{current_user.language}"
  });})
  var addEvent = function(object, type, callback) {
    if (object == null || typeof(object) == 'undefined') return;
    if (object.addEventListener) {
        object.addEventListener(type, callback, false);
    } else if (object.attachEvent) {
        object.attachEvent("on" + type, callback);
    } else {
        object["on"+type] = callback;
    }
  };
  addEvent(window, "resize", function(event) {
  load_user();
  load_datetime();
  });
  $('#participants').on('cocoon:after-insert', load_datetime);
  $(document).on('turbolinks:load', load_datetime);
  $('#participants').on('cocoon:after-insert', load_user);
  $(document).on('turbolinks:load', load_user);
