.nested-fields
  .form-group
    = f.label :user
    .input-group
      %span.input-group-btn
        %span{"aria-hidden" => "true"}= link_to_remove_association icon('trash'), f, class: 'btn btn-default'
      = f.grouped_collection_select :user_id, Role.all, :users, :identifier, :id, :identifier, {}, class: 'form-control select'
  .form-group
    = f.label :login
    .datetime.input-group
      %span.input-group-addon
        %span.fa.fa-calendar
      = f.text_field :login, class: 'form-control datetimepicker', "data-date-format" => "YYYY-MM-DD HH:mm"
  .form-group
    = f.label :logout
    .datetime.input-group
      %span.input-group-addon
        %span.fa.fa-calendar
      = f.text_field :logout, class: 'form-control datetimepicker', "data-date-format" => "YYYY-MM-DD HH:mm"
