.panel{:class => "panel-#{(p.user.events_sign_in?) ? 'default' : within(p.event, p)}"}
  .panel-heading.clearfix
    = trash_button(p.event) if current_user.events_create_edit?
    .pull-right
      .btn-group
        = link_to icon('graduation-cap'), mastery_user_path(p.user), class: 'btn btn-default' if (p.user.has_mastery?) && (current_user.mastery_rank_up? || current_user.id == p.user.id)
        = link_to icon('location-arrow'), p.event.location.navigate, target: :_blank, class: 'btn btn-default'
        = link_to icon('users'), participants_events_path(p.event), class: 'btn btn-default'
        = link_to icon('eye'), p.event, class: 'btn btn-default'
        = link_to icon('edit'), edit_event_path(p.event), class: 'btn btn-default' if current_user.events_create_edit?
  .panel-body
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        %center
          %label= Event.human_attribute_name :start
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        %center
          %label= Event.human_attribute_name :stop
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        %center
          = l p.event.start, format: :long
        %br
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        %center
          = l p.event.stop, format: :long
        %br
    .row
      .col-lg-4.col-xs-4
        -if p.login || (current_user.events_sign_in? && p.user != current_user) && !p.user.events_sign_in?
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %center
                %label= Participant.human_attribute_name :login
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %center
                - if p.login
                  = l p.login, format: :long
                -else
                  = form_for p, :url => { :action => :login_updates }, remote: true do |f|
                    = f.hidden_field :id, value: p.id
                    = f.button icon('sign-in'), class: 'btn btn-default'
      .col-lg-4.col-xs-4
        %center
          = link_to image_tag(avatar_thumb(p.user)), p.user
          %br
          = link_to p.user.identifier, p.user
      .col-lg-4.col-xs-4
        -if p.logout || (current_user.events_sign_in? && p.user != current_user) && !p.user.events_sign_in?
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %center
                %label= Participant.human_attribute_name :logout
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %center
                - if p.logout
                  = l p.logout, format: :long
                -else
                  = form_for p, :url => { :action => :logout_updates }, remote: true do |f|
                    = f.hidden_field :id, value: p.id
                    = f.button icon('sign-out'), class: 'btn btn-default'
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %center
          %label= Event.human_attribute_name :location
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %center
          = link_to p.event.location.identifier, p.event.location.navigate, target: :_blank
    -if current_user.id == p.user_id || current_user.view_submitted_forms?
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %center
            %label= Participant.human_attribute_name :forms
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          -p.forms.each_slice(3) do |x|
            .btn-group-justified
              -x.each do |f|
                - s = p.filled(f)
                - if s
                  = link_to(form_submission_path(f, s), class: 'btn btn-success') do
                    = icon('wpforms')
                    = f.identifier
                -elsif current_user.id == p.user_id
                  = link_to(new_form_submission_path(f, participant: p.id), class: 'btn btn-default') do
                    = icon('wpforms')
                    = f.identifier
    -if (!p.login && p.event.start > Time.zone.now) || (p.login && !p.logout && p.event.stop > Time.zone.now)
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %center
            %label= Participant.human_attribute_name :countdown
    -if !p.login && p.event.start > Time.zone.now
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %center.clearfix{id: "count#{p.id}"}
            :javascript
              $.countdown.setDefaults($.countdown.regionalOptions["#{t('js.countdown')}"]);
              jQuery(document).on('turbolinks:load', function() { $(function ()
              { $("#count#{p.id}").countdown({until: $.countdown.UTCDate(
              #{Time.zone.now.utc_offset/60},
              #{p.event.start.year},
              #{p.event.start.month-1},
              #{p.event.start.day},
              #{p.event.start.hour},
              #{p.event.start.min},
              #{p.event.start.sec}, 0), expiryUrl: "#{request.original_url}"}); }); });
    -elsif p.login && !p.logout && p.event.stop > Time.zone.now
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %center.clearfix{id: "count#{p.id}"}
            :javascript
              $.countdown.setDefaults($.countdown.regionalOptions["#{t('js.countdown')}"]);
              jQuery(document).on('turbolinks:load', function() { $(function ()
              { $("#count#{p.id}").countdown({until: $.countdown.UTCDate(
              #{Time.zone.now.utc_offset/60},
              #{p.event.stop.year},
              #{p.event.stop.month-1},
              #{p.event.stop.day},
              #{p.event.stop.hour},
              #{p.event.stop.min},
              #{p.event.stop.sec}, 0), expiryUrl: "#{request.original_url}"}); }); });
