- content_for(:turbolinks, 'false')
.page-header
  %h2= t('.title')

.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .btn-group
      = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
      =link_to icon('history'), log_events_path, class: 'btn btn-default active', 'data-turbolinks' => false
      =link_to icon('tasks'), tasks_events_path, class: 'btn btn-default', 'data-turbolinks' => true if current_user.events_has_tasks?
      =link_to icon('th-list'), list_events_path, class: 'btn btn-default', 'data-turbolinks' => true
      =link_to icon('calendar'), calendar_events_path, class: 'btn btn-default', 'data-turbolinks' => true if current_user.events_has_calendar?
    .pull-right
      = link_to icon('plus'), new_event_path, class: 'btn btn-default' if current_user.events_create_edit?

%table.table-striped{"data-search" => "true", "data-pagination" => "true",    |
"data-show-columns" => "true", "data-show-refresh" => "true",                 |
"data-show-print" => "true", "data-show-toggle" => "true",                    |
"data-show-export" => "true",                                                 |
'data-export-types' => "['csv', 'json', 'sql', 'xml']",                       |
'data-export-options' => "{\r\n \"fileName\": \"#{t('.title')}\"}".html_safe, |
"data-mobile-responsive" => "true", "data-printPageBuilder" => "printPage",   |
"data-toggle" => "table", "data-locale" => current_user.language,             |
"data-sort-name" => "start", "data-filter-control" => "true",                 |
"data-hide-unused-select-options" => "true"}
  %thead
    %tr

      %th{"data-field" => "user", "data-sortable" => "true", "data-filter-control" => "select"}= Participant.human_attribute_name :user
      %th{"data-field" => "location", "data-sortable" => "true", "data-filter-control" => "select"}= Event.human_attribute_name :location
      %th{"data-field" => "abilityset", "data-sortable" => "true", "data-filter-control" => "select"}= Event.human_attribute_name :abilityset
      %th{"data-field" => "start",    "data-sortable" => "true"}= Event.human_attribute_name :start
      %th{"data-field" => "stop",     "data-sortable" => "true"}= Event.human_attribute_name :stop
      %th{"data-field" => "login",    "data-sortable" => "true"}= Participant.human_attribute_name :login
      %th{"data-field" => "logout",     "data-sortable" => "true"}= Participant.human_attribute_name :logout
      %th{"data-field" => "total_time",     "data-sortable" => "true"}= Participant.human_attribute_name :total_time
  %tbody
    - @events.each do |p|
      %tr
        %td= p.user.identifier
        %td= p.event.location.identifier
        %td= p.event.abilityset.identifier
        %td= l p.event.start, format: :long
        %td= l p.event.stop, format: :long
        %td= l p.login, format: :long if p.login
        %td= l p.logout, format: :long if p.logout
        %td= p.total_time if p.login && p.logout
/ I don't like this
:javascript
  (function ($) {
      'use strict';

      var sprintf = $.fn.bootstrapTable.utils.sprintf;

      function printPageBuilderDefault(table) {
          return '<html><head>' +
              '<style type="text/css" media="print">' +
              '  @page { size: auto;   margin: 25px 0 25px 0; }' +
              '</style>' +
              '<style type="text/css" media="all">' +
              'table{border-collapse: collapse; font-size: 12px; }\n' +
              'table, th, td {border: 1px solid grey}\n' +
              'th, td {text-align: center; vertical-align: middle;}\n' +
              'p {font-weight: bold; margin-left:20px }\n' +
              'table { width:94%; margin-left:3%; margin-right:3%}\n' +
              'div.bs-table-print { text-align:center;}\n' +
              '</style></head><title>' + "#{t('.title')}" + '</title><body>' +
              '<p>' + "#{t('.title')}" + ' </p>' +
              '<div class="bs-table-print">' + table + "</div></body></html>";
      }
      $.extend($.fn.bootstrapTable.defaults, {
          showPrint: false,
          printAsFilteredAndSortedOnUI: true,
          printSortColumn: undefined  ,
          printSortOrder: 'asc',
          printPageBuilder: function(table){return printPageBuilderDefault(table)}
      });
      $.extend($.fn.bootstrapTable.COLUMN_DEFAULTS, {
          printFilter: undefined,
          printIgnore: false,
          printFormatter:undefined
      });
      $.extend($.fn.bootstrapTable.defaults.icons, {
          print: 'fa fa-print icon-share'
      });

      var BootstrapTable = $.fn.bootstrapTable.Constructor,
          _initToolbar = BootstrapTable.prototype.initToolbar;

      BootstrapTable.prototype.initToolbar = function () {
          this.showToolbar = this.options.showPrint;

          _initToolbar.apply(this, Array.prototype.slice.apply(arguments));

          if (this.options.showPrint) {
              var that = this,
                  $btnGroup = this.$toolbar.find('>.btn-group'),
                  $print = $btnGroup.find('button.bs-print');

              if (!$print.length) {
                  $print = $([
                      '<button class="bs-print btn btn-default' + sprintf(' btn-%s"', this.options.iconSize) + ' name="print" title="#{t('.print')}" type="button">',
                      sprintf('<i class="fa fa-print"></i> '),
                      '</button>'].join('')).appendTo($btnGroup);

                  $print.click(function () {
                      function formatValue(row, i, column ) {
                          var value = row[column.field];
                          if (typeof column.printFormatter === 'function') {
                              return  column.printFormatter.apply(column, [value, row, i]);
                          }
                          else {
                              return  value || "-";
                          }
                      }
                      function buildTable(data,columns) {
                          var out = "<table><thead><tr>";
                          for(var h = 0; h < columns.length; h++) {
                              if(!columns[h].printIgnore) {
                                  out += ("<th>"+columns[h].title+"</th>");
                              }
                          }
                          out += "</tr></thead><tbody>";
                          for(var i = 0; i < data.length; i++) {
                              out += "<tr>";
                              for(var j = 0; j < columns.length; j++) {
                                  if(!columns[j].printIgnore) {
                                      out += ("<td>"+ formatValue(data[i], i, columns[j])+"</td>");
                                  }
                              }
                              out += "</tr>";
                          }
                          out += "</tbody></table>";
                          return out;
                      }
                      function sortRows(data,colName,sortOrder) {
                          if(!colName){
                              return data;
                          }
                          var reverse = sortOrder != 'asc';
                          reverse = -((+reverse) || -1);
                          return  data.sort(function (a, b) {
                              return reverse * (a[colName].localeCompare(b[colName]));
                          });
                      }
                      function filterRow(row,filters) {
                          for (var index = 0; index < filters.length; ++index) {
                              if(row[filters[index].colName]!=filters[index].value) {
                                  return false;
                              }
                          }
                          return true;
                      }
                      function filterRows(data,filters) {
                          return data.filter(function (row) {
                              return filterRow(row,filters)
                          });
                      }
                      function getColumnFilters(columns) {
                          return !columns || !columns[0] ? [] : columns[0].filter(function (col) {
                              return col.printFilter;
                          }).map(function (col) {
                              return {colName:col.field, value:col.printFilter};
                          });
                      }
                      var doPrint = function (data) {
                          data=filterRows(data,getColumnFilters(that.options.columns));
                          data=sortRows(data,that.options.printSortColumn,that.options.printSortOrder);
                          var table=buildTable(data,that.options.columns[0]);
                          var newWin = window.open("");
                          newWin.document.write(that.options.printPageBuilder.call(this, table));
                          newWin.print();
                          newWin.close();
                      };
                      doPrint(that.options.printAsFilteredAndSortedOnUI? that.getData() : that.options.data.slice(0));
                  });
              }
          }
      };
  })(jQuery);
