.page-header
  %h2= t('.title')
= form_for @event, :url => { :action => :login_update } do |f|
  - if @event.errors.any?
    #error_explanation
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .actions
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = link_to icon('arrow-left'), list_events_path(date: @event.start.to_date), class: 'btn btn-default'
        .pull-right= f.button icon('sign-in').html_safe, class: 'btn btn-default'
    %br
  .form-group
    %label= User.human_attribute_name :pin
    = f.hidden_field :login, :value => DateTime.now
    %input{:autocomplete => "off", :name => 'pin', :id => 'pin', :class => 'form-control', :onfocus => "this.removeAttribute('readonly');", :readonly => "readonly", :type => "password"}/
:javascript
  $(document).ready(function(){
  $("#pin").focus();
  });
  
