.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), list_events_path(date: @event.start.to_date), class: 'btn btn-default'
    .pull-right= link_to icon('edit'), edit_event_path(@event), class: 'btn btn-default' if current_user.events_create_edit?

%br
- @event.participants.order(:id).group_by {|u| u.user.role}.each do |g, p|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
        .col-lg-12
          %h4= g.identifier
  - p.each do |h|
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .panel{:class => "panel-#{(h.user.events_sign_in?) ? 'default' : within(@event, h)}"}
          .panel-heading
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                = h.identifier
            %br
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                = link_to icon('graduation-cap'), mastery_user_path(h.user), class: 'btn btn-default' if h.user.has_mastery?
                .pull-right
                  = link_to icon('address-book'), contacts_user_path(h.user), class: 'btn btn-default'
          .panel-body
            .row
              .col-lg-4.col-xs-4
                -if h.login || (current_user.events_sign_in? && h.user != current_user) && !h.user.events_sign_in?
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %center
                        %label= Participant.human_attribute_name :login
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %center
                        - if h.login
                          = l h.login, format: :long
                        -else
                          = form_for h, :url => { :action => :login_update }, remote: true do |f|
                            = f.hidden_field :id, value: h.id
                            = f.button icon('sign-in'), class: 'btn btn-default'
              .col-lg-4.col-xs-4
                %center
                  = link_to image_tag(avatar_thumb(h.user)), h.user
                  %br
                  = link_to h.user.identifier, h.user
              .col-lg-4.col-xs-4
                -if h.logout || (current_user.events_sign_in? && h.user != current_user) && !h.user.events_sign_in?
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %center
                        %label= Participant.human_attribute_name :logout
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %center
                        - if h.logout
                          = l h.logout, format: :long
                        -else
                          = form_for h, :url => { :action => :logout_update }, remote: true do |f|
                            = f.hidden_field :id, value: h.id
                            = f.button icon('sign-out'), class: 'btn btn-default'
            -if current_user.id == h.user_id || current_user.view_submitted_forms?
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  %br
                  %center
                    %label= Participant.human_attribute_name :forms
            -if current_user.id == h.user_id || current_user.view_submitted_forms?
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  -h.forms.each_slice(3) do |x|
                    .btn-group-justified
                      -x.each do |f|
                        - s = h.filled(f)
                        - if s
                          = link_to(form_submission_path(f, s), class: 'btn btn-success') do
                            = icon('wpforms')
                            = f.identifier
                        -elsif current_user.id == h.user_id
                          = link_to(new_form_submission_path(f, participant: h.id), class: 'btn btn-default') do
                            = icon('wpforms')
                            = f.identifier
