.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), list_events_path(date: @event.start.to_date), class: 'btn btn-default'
    .pull-right= link_to icon('edit'), edit_event_path(@event), class: 'btn btn-default' if current_user.events_create_edit?
%br
/.form-group
/  %label= Event.human_attribute_name :overseer
/  .form-control.wrapped= @event.overseer.identifier
/.form-group
/  %label= Event.human_attribute_name :student
/  .form-control.wrapped= @event.student.identifier
.form-group
  %label= Event.human_attribute_name :location
  .form-control.wrapped= @event.location.identifier
.form-group
  %label= Event.human_attribute_name :start
  .form-control.wrapped= l @event.start, format: :long
.form-group
  %label= Event.human_attribute_name :stop
  .form-control.wrapped= l @event.stop, format: :long
/.form-group
/  %label= Event.human_attribute_name :login
/  .form-control.wrapped= l @event.login, format: :long unless @event.login.nil?
/.form-group
/  %label= Event.human_attribute_name :logout
/  .form-control.wrapped= l @event.logout, format: :long unless @event.logout.nil?
