.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .btn-group
      = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
      =link_to icon('history'), log_events_path, class: 'btn btn-default', 'data-turbolinks' => false if current_user.events_has_log?
      =link_to icon('tasks'), tasks_events_path, class: 'btn btn-default active', 'data-turbolinks' => true
      =link_to icon('th-list'), list_events_path, class: 'btn btn-default', 'data-turbolinks' => true
      =link_to icon('calendar'), calendar_events_path, class: 'btn btn-default', 'data-turbolinks' => true if current_user.events_has_calendar?
    .pull-right
      = link_to icon('plus'), new_event_path, class: 'btn btn-default' if current_user.events_create_edit?
%br
-if @events.empty?
  .well
    %center
      %br
      %h5= t('.no_tasks')
      %br
-else
-@events.each do |p|
  = render partial: 'task', locals: {p: p}
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @events
