- Mobility.with_locale(params[:lang] ? params[:lang] : current_user.language) do
  = form_for @mastery do |f|
    - if @mastery.errors.any?
      #error_explanation
        %ul
          - @mastery.errors.full_messages.each do |message|
            %li= message
    .actions
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .input-group
            %span.input-group-btn
              = link_to icon('arrow-left'), masteries_path, class: 'btn btn-default'
            .form-control.wrapped= code2language(Mobility.locale)
            %span.input-group-btn
              = f.button icon('save'), class: 'btn btn-default'
      %br
    .form-group
      = hidden_field_tag :lang, Mobility.locale
      = f.label :title
      = f.text_field :title, class: 'form-control', value: @mastery.title(fallback: false)
    .field
      -if @mastery.domain_id.to_i == 0 || @mastery.new_record?
        = f.hidden_field :domain_id, value: current_user.domain_id
    .form-group
      = f.label :abilitysets
      .well
        = f.collection_check_boxes :abilityset_ids, Abilityset.domained(current_user), :id, :identifier do |ccb|
          .form-check
            =ccb.label class: 'form-check-label' do
              =ccb.check_box class: 'form-check-input'
              =ccb.text
    .form-group
      %label= t('abilitysets.new.title')
      .row
        .col-lg-12
          .col-lg-12
            .form-group
              = f.fields_for :abilitysets, @mastery.abilitysets.build do |abilitysets_fields|
                .form-group
                  = abilitysets_fields.label :title
                  = abilitysets_fields.text_field :title, class: 'form-control'
                .form-group
                  = abilitysets_fields.label :level
                  = abilitysets_fields.number_field :level, class: 'form-control'
                .field
                  = abilitysets_fields.hidden_field :domain_id, value: current_user.domain_id
