.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_mastery_path, class: 'btn btn-default' if current_user.use_mastery_builder?
%br
- @masteries.each do |mastery|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title= mastery.identifier
          %br
          - if current_user.use_mastery_builder?
            = form_for mastery, url:  edit_mastery_path(mastery),:html => {:method => :get} do
              .input-group
                %span.input-group-btn
                  = trash_button(mastery)
                = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
                %span.input-group-btn
                  = link_to icon('eye'), mastery, class: 'btn btn-default'
                  = button_tag icon('edit'), class: 'btn btn-default'
          -else
            .pull-right= link_to icon('eye'), mastery, class: 'btn btn-default'
        .panel-body
          .form-group
            %label= Mastery.human_attribute_name :title
            .form-control.wrapped= mastery.title_l

.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @masteries
