- Mobility.with_locale(params[:lang] ? params[:lang] : current_user.language) do
  = form_for @abilityset do |f|
    - if @abilityset.errors.any?
      #error_explanation
        %ul
          - @abilityset.errors.full_messages.each do |message|
            %li= message
    .actions
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .input-group
            %span.input-group-btn
              = link_to icon('arrow-left'), abilitysets_path, class: 'btn btn-default'
            .form-control.wrapped= code2language(Mobility.locale)
            %span.input-group-btn
              = f.button icon('save'), class: 'btn btn-default'
      %br
    .form-group
      = hidden_field_tag :lang, Mobility.locale
      = f.label :title
      = f.text_field :title, class: 'form-control', value: @abilityset.title(fallback: false)
    .form-group
      = f.label :level
      = f.number_field :level, class: 'form-control'
    .field
      -if @abilityset.domain_id.to_i == 0 || @abilityset.new_record?
        = f.hidden_field :domain_id, value: current_user.domain_id
    .form-group
      = f.label :abilities
      .well
        = f.collection_check_boxes :ability_ids, Ability.domained(current_user), :id, :identifier do |ccb|
          .form-check
            =ccb.label class: 'form-check-label' do
              =ccb.check_box class: 'form-check-input'
              =ccb.text
    .form-group
      %label= t('abilities.new.title')
      .row
        .col-lg-12
          .col-lg-12
            .form-group
              = f.fields_for :abilities, @abilityset.abilities.build do |abilities_fields|
                .form-group
                  = abilities_fields.label :title
                  = abilities_fields.text_field :title, class: 'form-control'
                .form-group
                  = abilities_fields.label :category
                  = abilities_fields.text_field :category, class: 'form-control'
                .form-group
                  = abilities_fields.label :required_level
                  = abilities_fields.number_field :required_level, class: 'form-control'
                .form-group
                  = abilities_fields.label :proficiency_level
                  = abilities_fields.number_field :proficiency_level, class: 'form-control'
                .field
                  = abilities_fields.hidden_field :domain_id, value: current_user.domain_id

    .form-group
      = f.label :masteries
      .well
        = f.collection_check_boxes :mastery_ids, Mastery.domained(current_user), :id, :identifier do |ccb|
          .form-check
            =ccb.label class: 'form-check-label' do
              =ccb.check_box class: 'form-check-input'
              =ccb.text
    .form-group
      %label= t('masteries.new.title')
      .row
        .col-lg-12
          .col-lg-12
            .form-group
              = f.fields_for :masteries, @abilityset.masteries.build do |masteries_fields|
                .form-group
                  = masteries_fields.label :title
                  = masteries_fields.text_field :title, class: 'form-control'
                .field
                  = masteries_fields.hidden_field :domain_id, value: current_user.domain_id
