= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %ul
        - @contact.errors.full_messages.each do |message|
          %li= message
  .actions
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        = link_to icon('arrow-left'), contacts_path, class: 'btn btn-default'
        .pull-right= f.button icon('save').html_safe, class: 'btn btn-default'
    %br
  .form-group
    = f.label :service
    = f.select :service, [[t('phone'), 'phone'], [t('mobile'), 'mobile'], |
    [t('email'), 'email'], [t('fax'), 'fax'], [t('skype'), 'skype'],      |
    [t('wechat'), 'wechat']], {}, class: 'form-control'                  |
  .form-group
    = f.label :identity
    = f.text_field :identity, class: 'form-control'
    -if @contact.user_id.to_i == 0 || @contact.new_record?
      = f.hidden_field :user_id, value: current_user.id
