.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_contact_path, class: 'btn btn-default'
%br
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @contacts
- @contacts.each_slice(2) do |contact2|
  .row
    - contact2.each do |contact|
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        .panel.panel-default
          .panel-heading
            %br
            = trash_button(contact)
            .pull-right
              .btn-group
                = link_to icon('eye'), contact, class: 'btn btn-default'
                = link_to icon('edit'), edit_contact_path(contact), class: 'btn btn-default'
          .panel-body
            .form-group
              %label= Contact.human_attribute_name :service
              .form-control.wrapped= t(contact.service)
            .form-group
              %label= Contact.human_attribute_name :identity
              .form-control.wrapped= contact.identity
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @contacts
