.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), contacts_path, class: 'btn btn-default'
    .pull-right= link_to icon('edit'), edit_contact_path(@contact), class: 'btn btn-default'
%br
.form-group
  %label= Contact.human_attribute_name :service
  .form-control.wrapped= t(@contact.service)
.form-group
  %label= Contact.human_attribute_name :identity
  .form-control.wrapped= @contact.identity
