- Mobility.with_locale(params[:lang] ? params[:lang] : current_user.language) do
  = form_for @domain do |f|
    - if @domain.errors.any?
      #error_explanation
        %ul
          - @domain.errors.full_messages.each do |message|
            %li= message
    .actions
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .input-group
            %span.input-group-btn
              = link_to icon('arrow-left'), domains_path, class: 'btn btn-default'
            .form-control.wrapped= code2language(Mobility.locale)
            %span.input-group-btn
              = f.button icon('save').html_safe, class: 'btn btn-default'
      %br
    .form-group
      = hidden_field_tag :lang, Mobility.locale
      = f.label :name
      = f.text_field :name, :class => 'form-control', value: @domain.name(fallback: false)
    .form-group
      = f.label :namespace
      = f.text_field :namespace, :class => 'form-control'
    .form-group
      = f.label :country
      = f.country_select :country, { priority_countries: [ "US", "FR", "JP", "KR", "VN", "CN", "TW"] , locale: t('js.country_select')}, { class: "form-control input"}
    .form-group
      = f.label :language
      = f.select :language, options_for_select(locale_name_pairs, current_user.language), {}, {class: 'form-control'}
    .form-group
      = f.label :timezone
      = f.time_zone_select :timezone, nil, {default: current_user.timezone}, {:class => 'form-control'}
    .form-group
      = f.label :student_starting_level
      = f.number_field :student_starting_level, :class => 'form-control'
    .form-group
      = f.label :map_provider
      = f.select :map_provider, map_providers, {}, class: 'form-control'
    .form-group
      = f.label :time_margin
      = f.number_field :time_margin, class: 'form-control'
    - if current_user.superuser?
      .form-group
        = f.label :demo
        = f.check_box :demo
