.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_domain_path, class: 'btn btn-default' if current_user.superuser?
%br
- @domains.each do |domain|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title= domain.name_l
          %br
          = form_for domain, url:  edit_domain_path(domain),:html => {:method => :get} do
            .input-group
              %span.input-group-btn
                = trash_button(domain) if current_user.superuser?
              = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
              %span.input-group-btn
                = link_to icon('eye'), domain, class: 'btn btn-default'
                = button_tag icon('edit'), class: 'btn btn-default' if current_user.admin?
        .panel-body
          .form-group
            %label= Domain.human_attribute_name :namespace
            .form-control.wrapped= domain.namespace
          .form-group
            %label= Domain.human_attribute_name :language
            .form-control.wrapped= code2language(domain.language)
          .form-group
            %label= Domain.human_attribute_name :timezone
            .form-control.wrapped= t('timezones' + '.' + domain.timezone)
          .form-group
            %label= Domain.human_attribute_name :country
            .form-control.wrapped= ISO3166::Country[domain.country].translations[I18n.locale.to_s]

.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @domains
