.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = form_for @domain, url:  edit_domain_path(@domain),:html => {:method => :get } do
      .input-group
        %span.input-group-btn
          -if current_user.superuser?
            = link_to icon('arrow-left'), domains_path, class: 'btn btn-default'
          -else
            = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
        = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
        %span.input-group-btn
          = button_tag icon('edit'), class: 'btn btn-default' if current_user.admin?
%br
.form-group
  %label= Domain.human_attribute_name :name
  .form-control.wrapped= @domain.name_l
.form-group
  %label= Domain.human_attribute_name :namespace
  .form-control.wrapped= @domain.namespace
.form-group
  %label= Domain.human_attribute_name :language
  .form-control.wrapped= code2language(@domain.language)
.form-group
  %label= Domain.human_attribute_name :timezone
  .form-control.wrapped= t("timezones.#{@domain.timezone}")
.form-group
  %label= Domain.human_attribute_name :country
  .form-control.wrapped= ISO3166::Country[@domain.country].translations[I18n.locale.to_s]
.form-group
  %label= Domain.human_attribute_name :student_starting_level
  .form-control.wrapped= @domain.student_starting_level
.form-group
  %label= Domain.human_attribute_name :map_provider
  .form-control.wrapped= t(".#{@domain.map_provider}")
.form-group
  %label= Domain.human_attribute_name :time_margin
  .form-control.wrapped= @domain.time_margin
.form-group
  %label= Domain.human_attribute_name :demo
  = check_box_tag 'demo', 'demo', @domain.demo, {checked: :checkedDisabled, disabled: :checkedDisabled}
