= form_for [@form, @submission] do |f|
  - if @submission.errors.any?
    #error_explanation
      %ul
        - @submission.errors.full_messages.each do |message|
          %li= message
  .actions
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        - ref = request.headers["HTTP_REFERER"]
        -if ref && ref.include?('event')
          - back = ref
          - session[:after_finish] = ref
        -elsif session[:after_finish]
          - back = session[:after_finish]
        -else
          - back = form_submissions_path(@form)
        = link_to icon('arrow-left'), back, class: 'btn btn-default'
        .pull-right= f.button icon('save'), class: 'btn btn-default'
    %br
  .field
    -if @submission.user_id.to_i == 0 || @submission.new_record?
      = f.hidden_field :user_id, value: current_user.id
  .field
    -if params[:participant]
      = hidden_field_tag :participant, params[:participant]
  .field
    = f.fields_for :text_responses do |tr|
      - ff = tr.object.form_field
      %div{class: !tr.object.errors[:text_response].empty? ? 'form-group has-error' : 'form-group'}
        = tr.hidden_field :form_field_id
        -unless ff.text_l.blank?
          .panel
            = ff.text_l.html_safe
        %label
          = ff.label_l unless ff.label_l.blank? || ff.field_type  == 'checkbox'
          -if ff.required && !ff.label_l.blank? && ff.field_type  != 'checkbox'
            %i{style: "color: red;"} *

        -if ff.field_type == 'text'
          = tr.text_field :answer, class: 'form-control', placeholder: |
          ff.placeholder_l,:data => {:toggle=>"tooltip"}, |
          'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'
        -elsif ff.field_type == 'checkbox'
          = tr.check_box :answer, class: 'tip'
          %label{:class => 'tip', :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'top'}= ff.label_l
          -if ff.required
            %i{style: "color: red;"} *
        -elsif ff.field_type == 'textarea'
          = tr.text_area :answer, class: 'form-control', placeholder: |
          ff.placeholder_l,:data => {:toggle=>"tooltip"}, |
          'data-original-title' => ff.tooltip_l, 'data-placement' => 'top', :rows => ff.rows
        -elsif ff.field_type == 'datetime'
          .input-group{id: "datetime#{ff.id}"}
            %span.input-group-addon
              %span.fa.fa-calendar
            :javascript
              //<![CDATA[
                $(function () {$("#datetime#{ff.id}").datetimepicker({locale: "#{t('js.datetimepicker')}",
                           icons: { time: 'fa fa-clock-o', date: 'fa fa-calendar', up: 'fa fa-arrow-up', down: 'fa fa-arrow-down'}});});
              //]]>
            = tr.text_field :answer, id: "datetime#{ff.id}", class: 'form-control datetimepicker', placeholder: |
            ff.placeholder_l,:data => {:toggle=>"tooltip"}, |
            'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom', "data-date-format" => "YYYY-MM-DD HH:mm"
        -elsif ff.field_type == 'date' || ff.field_type == 'agreement_expiration'
          .input-group{id: "date#{ff.id}"}
            %span.input-group-addon
              %span.fa.fa-calendar
            :javascript
              //<![CDATA[
                $(function () {$("#date#{ff.id}").datetimepicker({locale: "#{t('js.datetimepicker')}",
                           icons: { time: 'fa fa-clock-o', date: 'fa fa-calendar', up: 'fa fa-arrow-up', down: 'fa fa-arrow-down'}});});
              //]]>
            = tr.text_field :answer, id: "date#{ff.id}", class: 'form-control datetimepicker', placeholder: |
            ff.placeholder_l,:data => {:toggle=>"tooltip"}, |
            'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom', "data-date-format" => "YYYY-MM-DD"
        -elsif ff.field_type == 'number'
          = tr.number_field :answer, min: ff.min, max: ff.max, class: 'form-control', placeholder: |
          ff.placeholder_l,:data => {:toggle=>"tooltip"}, |
          'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'
        -elsif ff.field_type == 'radio'
          .input-group
            =tr.collection_radio_buttons(:answer, ff.field_options, :option_value, :option_key_l) do |b|
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  =b.radio_button
                  =b.label(:class => 'tip', :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'right')
        -elsif ff.field_type == 'select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, ff.field_options, :option_value, :option_key_l, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, ff.field_options, :option_value, :option_key_l, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
        -elsif ff.field_type == 'user_select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, User.domained(current_user), :id, :identifier, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, User.domained(current_user), :id, :identifier, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
        -elsif ff.field_type == 'student_select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, User.domained_students(current_user), :id, :identifier, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, User.domained_students(current_user), :id, :identifier, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
        -elsif ff.field_type == 'preceptor_select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, User.domained_preceptors(current_user), :id, :identifier, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, User.domained_preceptors(current_user), :id, :identifier, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
        -elsif ff.field_type == 'faculty_select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, User.domained_faculty(current_user), :id, :identifier, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, User.domained_faculty(current_user), :id, :identifier, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
        -elsif ff.field_type == 'administrator_select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, User.domained_administrators(current_user), :id, :identifier, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, User.domained_administrators(current_user), :id, :identifier, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
        -elsif ff.field_type == 'overseer_select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, User.domained_overseers(current_user), :id, :identifier, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, User.domained_overseers(current_user), :id, :identifier, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
        -elsif ff.field_type == 'abilityset_select'
          -if ff.placeholder_l.blank?
            =tr.collection_select :answer, Abilityset.domained(current_user), :id, :identifier, {}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}

          -else
            =tr.collection_select :answer, Abilityset.domained(current_user), :id, :identifier, {include_blank: ff.placeholder_l}, {class: 'form-control',  :data => {:toggle=>"tooltip"}, 'data-original-title' => ff.tooltip_l, 'data-placement' => 'bottom'}
    .pull-right= f.button @form.submit_l, class: 'btn btn-default'
:javascript
  $(document).on("turbolinks:load", function() {
  $('.form-control').tooltip();
  $('.tip').tooltip();
  });
