= content_for :title, t('nightingale') + ' | ' + t('.title', form: @form.title)
.page-header
  %h2= t('.title', form: @form.title_l)
= render 'form'

/= link_to 'Show', form_submission_path(@form, @submission)
/\|
/= link_to 'Back', form_submissions_path(@form)
