= content_for :title, t('nightingale') + ' | ' + t('.title', form: @form.title)
.page-header
  %h2= t('.title', form: @form.title)
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), forms_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_form_submission_path(@form), class: 'btn btn-default'

%br
- @submissions.each do |submission|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title= l submission.submitted_at, format: :long if submission.submitted_at
          %br
          = trash_button([@form, submission]) if current_user.admin? || (current_user.faculty? && !submission.user.has_power?) || (submission.user_id == current_user.id && current_user.has_power?)
          .pull-right
            .btn-group
              = link_to icon('eye'), form_submission_path(@form, submission), class: 'btn btn-default' if current_user.admin? || current_user.faculty? || submission.user_id == current_user.id
              = link_to icon('edit'), edit_form_submission_path(@form, submission), class: 'btn btn-default' if current_user.admin? || (current_user.faculty? && !submission.user.has_power?) || submission.user_id == current_user.id
        .panel-body
          .form-group
            %label= Submission.human_attribute_name :user
            .form-control.wrapped= submission.user.identifier

.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @submissions
