= content_for :title, t('nightingale') + ' | ' + t('.title', form: @form.title)
.page-header
  %h2= t('.title', form: @form.title)
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    - ref = request.headers["HTTP_REFERER"]
    -if ref && ref.include?('event')
      - back = ref
    -elsif session[:after_finish]
      - back = session[:after_finish]
      - session.delete(:after_finish)
    -else
      - back = form_submissions_path(@form)
    = link_to icon('arrow-left'), back, class: 'btn btn-default'
    .pull-right= link_to icon('edit'), edit_form_submission_path(@form, @submission), class: 'btn btn-default' if current_user.admin? || (current_user.faculty? && !@submission.user.has_power?) || @submission.user_id == current_user.id
%br
-@submission.responses.each do |r|
  -ff = r.form_field
  .form-group
    -unless ff.text_l.blank?
      .panel
        = ff.text_l.html_safe
    -unless ff.label_l.blank? || ff.field_type == 'checkbox'
      %label
        = ff.label_l

    - if ff.field_type == 'checkbox'
      = check_box_tag ff.label_l.parameterize, 'entry',  (1 == r.answer.to_i), {disabled: :checkedDisabled}
      %label= ff.label_l
    -elsif ff.field_type == 'abilityset_select'
      .form-control.wrapped= Abilityset.find(r.answer.to_i).identifier
    -elsif ff.field_type.include? '_select'
      .form-control.wrapped= User.find(r.answer.to_i).identifier
    -elsif ff.field_type == 'select'
      .form-control.wrapped= ff.field_options.where(option_value: r.answer).first.option_key
    -elsif ff.field_type == 'radio'
      .input-group
        - ff.field_options.each do |b|
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              -if (b.option_value == r.answer)
                =radio_button_tag ff.label_l.parameterize, b.option_value, true
              -else
                =radio_button_tag ff.label_l.parameterize, b.option_value, false, disabled: true
              %label= b.option_key_l
    -elsif ff.field_type == 'date' || ff.field_type == 'agreement_expiration'
      .form-control.wrapped= (!r.answer.to_s.empty?) ? l(Date.parse(r.answer.to_s), format: :long) : ''
    -elsif ff.field_type == 'datetime'
      .form-control.wrapped= (!r.answer.to_s.empty?) ? l(DateTime.parse(r.answer.to_s), format: :long) : ''
    -else
      .form-control.wrapped= r.answer
