- Mobility.with_locale(params[:lang] ? params[:lang] : current_user.language) do
  = form_for @link do |f|
    - if @link.errors.any?
      #error_explanation
        %ul
          - @link.errors.full_messages.each do |message|
            %li= message
    .actions
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .input-group
            %span.input-group-btn
              = link_to icon('arrow-left'), links_path, class: 'btn btn-default'
            .form-control.wrapped= code2language(Mobility.locale)
            %span.input-group-btn
              = f.button icon('save').html_safe, class: 'btn btn-default'
      %br
    .form-group
      = hidden_field_tag :lang, Mobility.locale
      = f.label :title
      = f.text_field :title, class: 'form-control', value: @link.title(fallback: false)
    .form-group
      = f.label :url
      = f.text_field :url, class: 'form-control'
    .form-group
      = f.label :account_type
      = f.select :account_type, options_for_select([[t('all'), 0], [t('student'), 1], [t('preceptor'), 2], [t('faculty'), 3], [t('administrator'), 4], [t('overseer'), 5]]), {}, {class: 'form-control'}
    .field
      -if @link.domain_id.to_i == 0 || @link.new_record?
        = f.hidden_field :domain_id, value: current_user.domain_id
