.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_link_path, class: 'btn btn-default' if current_user.links_create_edit?
%br
- @links.each do |link|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title= link.title_l
          %br
          - if current_user.links_create_edit?
            = form_for link, url:  edit_link_path(link),:html => {:method => :get} do
              .input-group
                %span.input-group-btn
                  = trash_button(link)
                = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
                %span.input-group-btn
                  = link_to icon('eye'), link, class: 'btn btn-default'
                  = button_tag icon('edit'), class: 'btn btn-default'
          -else
            .pull-right= link_to icon('eye'), link, class: 'btn btn-default'
        .panel-body
          = link_to link.title, link.url, target: :_blank, class: 'btn btn-block btn-default'
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @links
