.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    -  if current_user.links_create_edit?
      = form_for @link, url:  edit_link_path(@link),:html => {:method => :get } do
        .input-group
          %span.input-group-btn
            = link_to icon('arrow-left'), links_path, class: 'btn btn-default'
          = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
          %span.input-group-btn
            = button_tag icon('edit'), class: 'btn btn-default'
    -else
      = link_to icon('arrow-left'), links_path, class: 'btn btn-default'
%br
.form-group
  %label= Link.human_attribute_name :title
  .form-control.wrapped= @link.title_l
.form-group
  %label= Link.human_attribute_name :url
  .form-control.wrapped= @link.url
.form-group
  %label= Link.human_attribute_name :account_type
  .form-control.wrapped= @link.account_type?
