.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    -  if current_user.use_mastery_builder?
      = form_for @ability, url:  edit_ability_path(@ability),:html => {:method => :get } do
        .input-group
          %span.input-group-btn
            = link_to icon('arrow-left'), abilities_path, class: 'btn btn-default'
          = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
          %span.input-group-btn
            = button_tag icon('edit'), class: 'btn btn-default'
    -else
      = link_to icon('arrow-left'), abilities_path, class: 'btn btn-default'
%br
.form-group
  %label= Ability.human_attribute_name :title
  .form-control.wrapped= @ability.title_l
.form-group
  %label= Ability.human_attribute_name :category
  .form-control.wrapped= @ability.category_l
.form-group
  %label= Ability.human_attribute_name :required_level
  .form-control.wrapped= @ability.required_level
.form-group
  %label= Ability.human_attribute_name :proficiency_level
  .form-control.wrapped= @ability.proficiency_level
