.page-header
  %h2= t('.sign_in')
.row
  .col-lg-4.col-md-4.col-sm-4.col-xs-12
    %center
      .logo= image_tag 'logo_color_512.png'
  .col-lg-8.col-md-8.col-sm-8.col-xs-12
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
      - if devise_mapping.rememberable?
        .form-group
          = f.check_box :remember_me, class: 'checkbox-inline'
          = f.label :remember_me
      .actions
        = f.submit t('.sign_in'), class: 'btn btn-block btn-primary'
    = render "devise/shared/links"
