- Mobility.with_locale(params[:lang] ? params[:lang] : current_user.language) do
  = form_for @role do |f|
    - if @role.errors.any?
      #error_explanation
        %ul
          - @role.errors.full_messages.each do |message|
            %li= message
    .actions
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .input-group
            %span.input-group-btn
              = link_to icon('arrow-left'), roles_path, class: 'btn btn-default'
            .form-control.wrapped= code2language(Mobility.locale)
            %span.input-group-btn
              = f.button icon('save'), class: 'btn btn-default'
      %br
    .form-group
      = hidden_field_tag :lang, Mobility.locale
      = f.label :title
      = f.text_field :title, class: 'form-control', value: @role.title(fallback: false)
    .field
      -if @role.domain_id.to_i == 0 || @role.new_record?
        = f.hidden_field :domain_id, value: current_user.domain_id
    .form-group
      = f.check_box :use_events
      = f.label :use_events
    .form-group
      = f.check_box :events_has_calendar
      = f.label :events_has_calendar
    .form-group
      = f.check_box :events_has_tasks
      = f.label :events_has_tasks
    .form-group
      = f.check_box :events_has_log
      = f.label :events_has_log
    .form-group
      = f.check_box :events_overseer
      = f.label :events_overseer
    .form-group
      = f.check_box :events_create_edit
      = f.label :events_create_edit
    .form-group
      = f.check_box :events_sign_in
      = f.label :events_sign_in
    .form-group
      = f.check_box :use_notes
      = f.label :use_notes
    .form-group
      = f.check_box :use_mail
      = f.label :use_mail
    .form-group
      = f.check_box :use_user_directory
      = f.label :use_user_directory
    .form-group
      = f.check_box :use_links
      = f.label :use_links
    .form-group
      = f.check_box :links_create_edit
      = f.label :links_create_edit
    .form-group
      = f.check_box :use_locations
      = f.label :use_locations
    .form-group
      = f.check_box :use_mastery_builder
      = f.label :use_mastery_builder
    .form-group
      = f.check_box :has_mastery
      = f.label :has_mastery
    .form-group
      = f.check_box :mastery_rank_up
      = f.label :mastery_rank_up
    .form-group
      = f.check_box :use_form_builder
      = f.label :use_form_builder
    .form-group
      = f.check_box :use_forms
      = f.label :use_forms
    .form-group
      = f.check_box :view_submitted_forms
      = f.label :view_submitted_forms
    .form-group
      .form-fields
        = f.fields_for :role_forms do |builder|
          = render 'role_form_fields', f: builder
      .pull-right= link_to_add_association t('.add_form'), f, :role_forms, class: 'btn btn-default'
