.nested-fields
  .form-group
    = link_to_remove_association icon('trash'), f, class: 'btn btn-default'
    .row
      .col-lg-6.col-sm-6.col-sx-6
        %span.input-group-btn
        = f.label :when
        = f.select :when, form_usage, {},  {class: 'form-control'}
      .Col-lg-6.col-sm-6.col-sx-6
        = f.label :form
        = f.collection_select :form_id, Form.domained(current_user), :id, :identifier, {}, {class: 'form-control'}
        %span.input-group-btn
