.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_role_path, class: 'btn btn-default' if current_user.admin?
%br
- @roles.each do |role|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title= role.identifier
          %br
          = form_for role, url:  edit_role_path(role),:html => {:method => :get} do
            .input-group
              %span.input-group-btn
                = trash_button(role) if current_user.admin?
              = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
              %span.input-group-btn
                = link_to icon('eye'), role, class: 'btn btn-default'
                = button_tag icon('edit'), class: 'btn btn-default' if current_user.admin?
        .panel-body
          .row
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              .form-group
                = check_box_tag 'entry', 'entry', (role.use_events), {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_events
              .form-group
                = check_box_tag 'entry', 'entry', (role.events_has_calendar), {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :events_has_calendar
              .form-group
                = check_box_tag 'entry', 'entry', (role.events_has_tasks), {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :events_has_tasks
              .form-group
                = check_box_tag 'entry', 'entry', (role.events_has_log), {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :events_has_log
              .form-group
                = check_box_tag 'entry', 'entry', (role.events_overseer), {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :events_overseer
              .form-group
                = check_box_tag 'entry', 'entry', role.events_create_edit, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :events_create_edit
              .form-group
                = check_box_tag 'entry', 'entry', role.events_sign_in, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :events_sign_in
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              .form-group
                = check_box_tag 'entry', 'entry', role.use_notes, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_notes
              .form-group
                = check_box_tag 'entry', 'entry', role.use_mail, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_mail
              .form-group
                = check_box_tag 'entry', 'entry', role.use_user_directory, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_user_directory
              .form-group
                = check_box_tag 'entry', 'entry', role.use_links, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_links
              .form-group
                = check_box_tag 'entry', 'entry', role.links_create_edit, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :links_create_edit
              .form-group
                = check_box_tag 'entry', 'entry', role.use_locations, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_locations
              .form-group
                = check_box_tag 'entry', 'entry', role.use_mastery_builder, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_mastery_builder
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              .form-group
                = check_box_tag 'entry', 'entry', role.has_mastery, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :has_mastery
              .form-group
                = check_box_tag 'entry', 'entry', role.mastery_rank_up, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :mastery_rank_up
              .form-group
                = check_box_tag 'entry', 'entry', role.use_form_builder, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_form_builder
              .form-group
                = check_box_tag 'entry', 'entry', role.use_forms, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :use_forms
              .form-group
                = check_box_tag 'entry', 'entry', role.view_submitted_forms, {disabled: :checkedDisabled}
                %label= Role.human_attribute_name :view_submitted_forms


.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    /= paginate @roles
