.nested-fields
  .form-group
    = link_to_remove_association icon('trash'), f, class: 'btn btn-default'
    .row
      .col-lg-6.col-sm-6.col-sx-6
        %span.input-group-btn
        = f.label :option_key
        = f.text_field :option_key, class: 'form-control', value: f.object.option_key(fallback: false)
      .col-lg-6.col-sm-6.col-sx-6
        = f.label :option_value
        = f.text_field :option_value, class: 'form-control'
        %span.input-group-btn
