- Mobility.with_locale(params[:lang] ? params[:lang] : current_user.language) do
  = form_for @form do |f|
    - if @form.errors.any?
      #error_explanation
        %ul
          - @form.errors.full_messages.each do |message|
            %li= message
    .actions
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .input-group
            %span.input-group-btn
              = link_to icon('arrow-left'), forms_path, class: 'btn btn-default'
            .form-control.wrapped= code2language(Mobility.locale)
            %span.input-group-btn
              = f.button icon('save').html_safe, class: 'btn btn-default'
      %br
    .form-group
      = hidden_field_tag :lang, Mobility.locale
      -if @form.domain_id.to_i == 0 || @form.new_record?
        = f.hidden_field :domain_id, value: current_user.domain_id
      = f.label :title
      = f.text_field :title, class: 'form-control', value: @form.title(fallback: false)
    .form-group
      = f.label :submit_button
      = f.text_field :submit_button, class: 'form-control'
    .form-group.clearfix
      = f.label :form_fields

    .form-group
      .form-fields
        = f.fields_for :form_fields do |builder|
          = render 'form_field_fields', f: builder
      .pull-right= link_to_add_association t('.add_field'), f, :form_fields, class: 'btn btn-default'
