.nested-fields
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      = link_to_remove_association icon('trash'), f, class: 'btn btn-default'
      .form-group
        = f.label :field_type
        = f.select :field_type, options_for_select(options_for_form_type, f.object.field_type), {}, class: 'form-control',id: 'field_type'
      .form-group
        = f.label :position
        %i{style: "color: red;"} *
        = f.number_field :position, class: 'form-control'
      .form-group
        = f.label :label
        = f.text_field :label, class: 'form-control', value: f.object.label(fallback: false)
      .form-group
        .panel-footer
          = f.label :text
          = f.trix_editor :tex
      .form-group
        = f.label :tooltip
        = f.text_field :tooltip, class: 'form-control', value: f.object.tooltip(fallback: false)
      .form-group
        = f.label :placeholder
        = f.text_field :placeholder, class: 'form-control', value: f.object.placeholder(fallback: false)
      .form-group
        = f.label :min
        = f.text_field :min, class: 'form-control'
      .form-group
        = f.label :max
        = f.text_field :max, class: 'form-control'
      .form-group
        = f.label :rows
        = f.text_field :rows, class: 'form-control'
      .form-group
        = f.check_box :required
        = f.label :required
      .form-group.clearfix
        = f.label :field_options
        .field-options
          = f.fields_for :field_options do |builder|
            = render 'field_option_fields', f: builder
        .pull-right= link_to_add_association t('.add_option'), f, :field_options, class: 'btn btn-default'
