.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = link_to icon('arrow-left'), dashboard_index_path, class: 'btn btn-default'
    .pull-right
      = link_to icon('plus'), new_form_path, class: 'btn btn-default' if current_user.use_form_builder?
%br
- @forms.each do |form|
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading.clearfix
          .panel-title= form.title_l
          %br
          = form_for form, url:  edit_form_path(form, :lang => 'en'),:html => {:method => :get} do
            .input-group
              %span.input-group-btn
                = trash_button(form) if current_user.use_form_builder?
              = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
              %span.input-group-btn
                = link_to icon('eye'), form, class: 'btn btn-default'
                = link_to icon('th-large'), form_submissions_path(form), class: 'btn btn-default'
                = button_tag icon('edit'), class: 'btn btn-default' if current_user.use_form_builder?
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @forms
