.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = form_for @form, url:  edit_form_path(@form, :lang => 'en'),:html => {:method => :get } do
      .input-group
        %span.input-group-btn
          = link_to icon('arrow-left'), forms_path, class: 'btn btn-default'
        = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
        %span.input-group-btn
          = button_tag icon('edit'), class: 'btn btn-default' if current_user.use_form_builder?
%br
%h3
  %b= @form.title_l
- @form.fields.each do |f|
  .form-group
    -unless f.text_l.blank?
      .panel
        = f.text_l.html_safe
    %label
      = f.label_l unless f.label_l.blank? || f.field_type  == 'checkbox'
      -if f.required && !f.label_l.blank? && f.field_type  != 'checkbox'
        %i{style: "color: red;"} *
    -if f.field_type == 'select'
      -if f.placeholder_l.blank?
        =select_tag "select#{f.id}", options_from_collection_for_select(f.field_options, :option_value, :option_key_l), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "select#{f.id}", options_from_collection_for_select(f.field_options, :option_value, :option_key_l), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'user_select'
      -if f.placeholder_l.blank?
        =select_tag "user_select#{f.id}", options_from_collection_for_select(User.domained(current_user), :id, :identifier), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "user_select#{f.id}", options_from_collection_for_select(User.domained(current_user), :id, :identifier), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'text'
      = text_field_tag "text#{f.id}", [], class: 'form-control', placeholder: |
      f.placeholder_l,:data => {:toggle=>"tooltip"}, |
      'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'student_select'
      -if f.placeholder_l.blank?
        =select_tag "student_select#{f.id}", options_from_collection_for_select(User.domained_students(current_user), :id, :identifier), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "student_select#{f.id}", options_from_collection_for_select(User.domained_students(current_user), :id, :identifier), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'preceptor_select'
      -if f.placeholder_l.blank?
        =select_tag "preceptor_select#{f.id}", options_from_collection_for_select(User.domained_preceptors(current_user), :id, :identifier), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "preceptor_select#{f.id}", options_from_collection_for_select(User.domained_preceptors(current_user), :id, :identifier), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'faculty_select'
      -if f.placeholder_l.blank?
        =select_tag "faculty_select#{f.id}", options_from_collection_for_select(User.domained_faculty(current_user), :id, :identifier), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "faculty_select#{f.id}", options_from_collection_for_select(User.domained_faculty(current_user), :id, :identifier), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'administrator_select'
      -if f.placeholder_l.blank?
        =select_tag "administrator_select#{f.id}", options_from_collection_for_select(User.domained_administrators(current_user), :id, :identifier), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "administrator_select#{f.id}", options_from_collection_for_select(User.domained_administrators(current_user), :id, :identifier), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'overseer_select'
      -if f.placeholder_l.blank?
        =select_tag "overseer_select#{f.id}", options_from_collection_for_select(User.domained_overseers(current_user), :id, :identifier), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "overseer_select#{f.id}", options_from_collection_for_select(User.domained_overseers(current_user), :id, :identifier), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'abilityset_select'
      -if f.placeholder_l.blank?
        =select_tag "abilityset_select#{f.id}", options_from_collection_for_select(Abilityset.domained(current_user), :id, :identifier), class: 'form-control', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
      -else
        =select_tag "abilityset_select#{f.id}", options_from_collection_for_select(Abilityset.domained(current_user), :id, :identifier), class: 'form-control', |
        :prompt => f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'
    -elsif f.field_type == 'radio'
      .input-group
        =collection_radio_buttons("radio#{f.id}","option#{f.id}", f.field_options, :option_value, :option_key_l) do |b|
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              =b.radio_button
              =b.label(:class => 'tip', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'right')
    -elsif f.field_type == 'textarea'
      = text_area_tag "textarea#{f.id}", "", class: 'form-control', placeholder: |
      f.placeholder_l,:data => {:toggle=>"tooltip"}, |
      'data-original-title' => f.tooltip_l, 'data-placement' => 'top', :rows => f.rows
    -elsif f.field_type == 'datetime'
      .input-group{id: "datetime#{f.id}"}
        %span.input-group-addon
          %span.fa.fa-calendar
        :javascript
          //<![CDATA[
            $(function () {$("#datetime#{f.id}").datetimepicker({locale: "#{t('js.datetimepicker')}",
                       icons: { time: 'fa fa-clock-o', date: 'fa fa-calendar', up: 'fa fa-arrow-up', down: 'fa fa-arrow-down'}});});
          //]]>
        = text_field_tag "datetime#{f.id}", nil, class: 'form-control datetimepicker', placeholder: |
        f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom', "data-date-format" => "YYYY-MM-DD HH:mm"
    -elsif f.field_type == 'date' || f.field_type == 'agreement_expiration'
      .input-group{id: "date#{f.id}"}
        %span.input-group-addon
          %span.fa.fa-calendar
        :javascript
          //<![CDATA[
            $(function () {$("#date#{f.id}").datetimepicker({locale: "#{t('js.datetimepicker')}",
                       icons: { time: 'fa fa-clock-o', date: 'fa fa-calendar', up: 'fa fa-arrow-up', down: 'fa fa-arrow-down'}});});
          //]]>
        = text_field_tag "date#{f.id}", nil, class: 'form-control datetimepicker', placeholder: |
        f.placeholder_l,:data => {:toggle=>"tooltip"}, |
        'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom', "data-date-format" => "YYYY-MM-DD"
    -elsif f.field_type == 'checkbox'
      = check_box_tag "checkbox#{f.id}", "checkbox#{f.id}", false, class: 'tip'
      %label{:class => 'tip', :data => {:toggle=>"tooltip"}, 'data-original-title' => f.tooltip_l, 'data-placement' => 'top'}= f.label_l
      -if f.required
        %i{style: "color: red;"} *
    -elsif f.field_type == 'number'
      = number_field_tag "number#{f.id}", nil, min: f.min, max: f.max, class: 'form-control', placeholder: |
      f.placeholder_l,:data => {:toggle=>"tooltip"}, |
      'data-original-title' => f.tooltip_l, 'data-placement' => 'bottom'

%br
.pull-right= button_tag @form.submit_l, class: 'btn btn-default'

:javascript
  $(document).on("turbolinks:load", function() {
  $('.form-control').tooltip();
  $('.tip').tooltip();
  });
