/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require select2
 *= require select2-bootstrap
 *= require trix
 *= require jquery.countdown
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";
@import 'bootstrap-datetimepicker';
@import "bootstrap-table";
@import "extensions/bootstrap-table-filter-control";

body {
    padding-top: 60px;
    margin-bottom: 128px;
    margin-bottom: 60px;
}
html {
  position: relative;
  min-height: 100%;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.widewrapper {
    width:100%;
}
.widewrapper > img {
    display:inline-block;
    max-height:60%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;

}
.widewrapper > a > img {
    display:inline-block;
    max-height:60%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.logo {
    width:100%;
}


.logo > img {
    width: 128px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    .logo > img {
        width: 100%;
    }
}
/* md */
@media (min-width: 992px) {
   .logo >  img {
        width: 100%;
    }
}
/* lg */
@media (min-width: 1200px) {
   .logo >  img {
        width: 100%;
    }
}


#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  width: 100%;
  h2 {
    font-size: 16px;
  }
}

.alert-error {
    //background-color: #f2dede;
    //border-color: #eed3d7;
    //color: #b94a48;
    @extend .alert;
    @extend .alert-warning;
    text-align: left;
 }

.alert-alert {
    //background-color: #f2dede;
    //border-color: #eed3d7;
    //color: #b94a48;
    @extend .alert;
    @extend .alert-danger;
    text-align: left;
 }
/*
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
*/
.alert-notice {
    //background-color: #dff0d8;
    //border-color: #d6e9c6;
    //color: inherit;
    @extend .alert;
    @extend .alert-success;
    text-align: left;
 }

.fa-6x{
    font-size:6em;
}

.fa-7x{
    font-size:7em;
}

.fa-8x{
    font-size:8em;
}

.fa-9x{
    font-size:9em;
}

.fa-10x{
    font-size:10em;
}

.fa-ex{
    display: inline-block;
    font-size: 5vw;
}

.parent {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.child {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}


.navbar {
    //margin-bottom: 10px;
}

.page-header {
    margin: 0 0 20px;
}


h2{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.note-body {
    height: 256px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.panel-title-ellipse {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}



.scrollable-menu {
    height: auto;
    max-height: 256px;
    overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    //background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}

.wrapped {
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.is-countdown {
    background: inherit;
}

.icon.code, .icon.list.bullets, .icon.list.numbers, .icon.nesting-level.increase{
    background: white;
}

.icon.undo, .icon.redo, .icon.nesting-level.decrease{
    background: white;
}

.icon.bold, .icon.italic, .icon.strike, .icon.link, .icon.heading-1, .icon.quote {
    background: white;
}

.simple-calendar .today{
    background: gray;

}

.simple-calendar .prev-month {
    background: inherit;
    opacity: 0.5;
}

.simple-calendar .next-month {
    background: inherit;
    opacity: 0.5;
}

.btn-block {
    margin-bottom: 4px;
    white-space: normal;
}

.btn{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
