%footer.footer
  .panel-footer
    %span= link_to t('.copyright'), 'http://www.zarktek.io', target: :_blank
    .pull-right
      = t('.supported_browsers')
      = link_to icon('chrome'), 'https://www.google.com/chrome/browser', target: :_blank
      = link_to icon('firefox'), 'https://www.mozilla.org/firefox/new/', target: :_blank
      = link_to icon('opera'), 'http://www.opera.com/', target: :_blank
