
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}= image_tag('logo_24.png', :style => 'height:24px;display:inline;')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      -if current_user
        %ul.nav.navbar-nav
          -if current_user.use_events?
            %li
              %a{:href => events_path, 'data-turbolinks' => 'false'}
                = icon('calendar')
                .visible-xs-inline-block= t('events.index.title')
          -if current_user.use_notes?
            %li
              %a{:href => notes_path}
                = icon('file-text')
                .visible-xs-inline-block= t('notes.index.title')
          -if current_user.use_mail?
            %li
              %a{:href => mailbox_path}
                = icon('envelope')
                .visible-xs-inline-block= t('mailbox.index.title')
          -if current_user.use_user_directory?
            %li
              %a{:href => users_path}
                = icon('users')
                .visible-xs-inline-block= t('users.index.title')
          -if current_user.use_links?
            %li
              %a{:href => links_path}
                = icon('link')
                .visible-xs-inline-block= t('links.index.title')
          -if current_user.has_mastery?
            %li
              %a{:href => mastery_user_path(current_user)}
                = icon('graduation-cap')
                .visible-xs-inline-block= t('users.mastery.title')
          -if current_user.use_locations?
            %li
              %a{:href => locations_path}
                = icon('globe')
                .visible-xs-inline-block= t('locations.index.title')
          -if current_user.use_mastery_builder?
            %li
              %a{:href => abilities_path}
                = icon('cube')
                .visible-xs-inline-block= t('abilities.index.title')
          -if current_user.use_mastery_builder?
            %li
              %a{:href => abilitysets_path}
                = icon('cubes')
                .visible-xs-inline-block= t('abilitysets.index.title')
          -if current_user.use_mastery_builder?
            %li
              %a{:href => masteries_path}
                = icon('university')
                .visible-xs-inline-block= t('masteries.index.title')
          -if current_user.admin?
            %li
              %a{:href => domains_path}
                = icon('circle-o')
                .visible-xs-inline-block= t('domains.index.title')
          -if current_user.admin?
            %li
              %a{:href => roles_path}
                = icon('id-badge')
                .visible-xs-inline-block= t('roles.index.title')
          -if current_user.use_forms?
            %li
              %a{:href => forms_path}
                = icon('wpforms')
                .visible-xs-inline-block= t('forms.index.title')

      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = icon('user')
              %span.caret
                %ul.dropdown-menu
                  %li
                    =link_to current_user do
                      = icon('user')
                      = current_user.name
                  %li
                    %a{:href => edit_user_registration_path}
                      = icon('cogs')
                      = t('devise.registrations.edit.title')
                  %li
                    %a{:href => contacts_path}
                      = icon('address-book')
                      = t('contacts.index.title')
                  %li.divider
                  %li
                    = form_for current_user, remote: true, html: { method: :put, :id => 'language_form', :name => "language_form"} do |f|
                      = f.select :language, options_for_select(locale_name_pairs, current_user.language), {:selected => current_user.language}, {:class => 'form-control', onchange: "$('#language_form').submit();" }
                  %li.divider
                  %li
                    = form_for current_user, remote: true, html: { method: :put, :id => 'timezone_form', :name => "timezone_form"} do |f|
                      = f.time_zone_select :timezone, ActiveSupport::TimeZone.all, {}, {:class => 'form-control', onchange: "$('#timezone_form').submit();" }

                  %li.divider
                  %li
                    = link_to current_user do
                      %center
                        .btn
                          %center
                            .widewrapper= image_tag avatar_thumb(current_user)
                  %li.divider
                  %li.dropdown-header= t(current_user.account_type.to_s.empty? ? 'undefined' : current_user.account_type.to_s)
        -if !current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = icon('language')
              %span.caret
                %ul.dropdown-menu.scrollable-menu
                  = create_links
        - if current_user
          %li= link_to '', destroy_user_session_path, :method => :delete, :class => 'fa fa-power-off strong'
