- Mobility.with_locale(params[:lang] ? params[:lang] : current_user.language) do
  = form_for @location do |f|
    - if @location.errors.any?
      #error_explanation
        %ul
          - @location.errors.full_messages.each do |message|
            %li= message
    .actions
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .input-group
            %span.input-group-btn
              = link_to icon('arrow-left'), locations_path, class: 'btn btn-default'
            .form-control.wrapped= code2language(Mobility.locale)
            %span.input-group-btn
              = f.button icon('save').html_safe, class: 'btn btn-default'
      %br
    .form-group
      = hidden_field_tag :lang, Mobility.locale
      = f.label :name
      = f.text_field :name, class: 'form-control', value: @location.name(fallback: false)
    .form-group
      = f.label :address_line1
      = f.text_field :address_line1, class: 'form-control', value: @location.address_line1(fallback: false)
    .form-group
      = f.label :address_line2
      = f.text_field :address_line2, class: 'form-control', value: @location.address_line2(fallback: false)
    .form-group
      = f.label :country
      = f.country_select :country, { priority_countries: [ "US", "FR", "JP", "KR", "VN", "CN", "TW"] , locale: t('js.country_select')}, { class: "form-control input"}
    .form-group
      = f.label :region
      = f.text_field :region, class: 'form-control', value: @location.region(fallback: false)
    .form-group
      = f.label :city
      = f.text_field :city, class: 'form-control', value: @location.city(fallback: false)
    .form-group
      = f.label :zip
      = f.text_field :zip, class: 'form-control', value: @location.zip(fallback: false)
    .form-group
      = f.label :unit
      = f.text_field :unit, class: 'form-control', value: @location.unit(fallback: false)
    .field
      -if @location.domain_id.to_i == 0 || @location.new_record?
        = f.hidden_field :domain_id, value: current_user.domain_id
