.page-header
  %h2= t('.title')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    -  if current_user
      = form_for @location, url:  edit_location_path(@location),:html => {:method => :get } do
        .input-group
          %span.input-group-btn
            = link_to icon('arrow-left'), locations_path, class: 'btn btn-default'
          = select_tag :lang, options_for_select(locale_name_pairs, current_user.language), class: 'form-control'
          %span.input-group-btn
            = button_tag icon('edit'), class: 'btn btn-default'
    -else
      = link_to icon('arrow-left'), locations_path, class: 'btn btn-default'
%br
.form-group
  %label= Location.human_attribute_name :name
  .form-control.wrapped= @location.name_l
.form-group
  %label= Location.human_attribute_name :address_line1
  .form-control.wrapped= @location.address_line1_l
.form-group
  %label= Location.human_attribute_name :address_line2
  .form-control.wrapped= @location.address_line2_l
.form-group
  %label= Location.human_attribute_name :country
  .form-control.wrapped= ISO3166::Country[@location.country].translations[I18n.locale.to_s]
.form-group
  %label= Location.human_attribute_name :region
  .form-control.wrapped= @location.region_l
.form-group
  %label= Location.human_attribute_name :city
  .form-control.wrapped= @location.city_l
.form-group
  %label= Location.human_attribute_name :zip
  .form-control.wrapped= @location.zip_l
.form-group
  %label= Location.human_attribute_name :unit
  .form-control.wrapped= @location.unit_l


