!!!
%html{:lang => I18n.locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = favicon_link_tag 'logo_24.png'
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{'data-turbolinks' => yield(:turbolinks) == 'false' ? 'false' : 'true'}
    = render :partial => 'nav'
    .container.clear-top
      .flash
        = render 'layouts/messages'
      = yield
    = render :partial => 'footer'
